body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background-color: #f4f4f4; */
  background: linear-gradient(45deg, #ff7f50, #007bff, #00ff00, #ff0000);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

/* Animation de fond */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.calculator {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: #eee;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.operator {
  background-color: #ff7f50;
}
button:hover {
  background-color: #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajout de l'ombre portée */
}
